.page-chart-of-accounts {
  padding: 20px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.page-chart-of-accounts h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}
.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
}
/* Top Buttons */
.header-row .button-group {
  display: flex;
  gap: 12px;
  justify-content: center;
  width: 100%;
}

/* Filters */
.filter-tokens-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter-popup {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--bff-accent);
  border-radius: 6px;
  padding: 0.5% 1%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.filter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.filter-item label {
  font-size: 14px;
  font-weight: 500;
  color: var(--bff-dark-text);
}
.filter-item select {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid var(--bff-border);
  border-radius: 6px;
}
.filter-popup select:focus {
  outline: none;
  border-color: var(--bff-button-hover);
  box-shadow: 0 0 0 2px white;
}
.filter-item + .filter-item {
  margin-left: 10px;
}

/* The whole Search */
.search-and-filter {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}
.search-group{
  display: flex;   
  width: fit-content; 
  gap: 8px;
  margin-bottom: 8px;
}
.search-group input {
  padding: 8px 12px;
  width: 400px;
}

/* Chart of Accounts Container */
.chart-of-accounts-container {
  width: fit-content;
  margin: 0 auto;
}